@import url("/static/css/variables.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  letter-spacing: -0.02em;
  background-color: var(--color-bg-neutral);
}

/* --- Base & Layout --- */
.container {
  max-width: 1400px;
  width: 80%;
  margin-inline: auto;
}

/* --- Header --- */
header {
  background-color: var(--color-bg-neutral);
  color: var(--color-primary);
  padding: 1rem 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  display: grid;
  gap: .5rem;
}

.header__title h1 {
  margin: 0;
}

header label input {
  display: none;
}

header label {
  border-radius: .5rem;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

/* --- Main & Documents Section --- */
.documents {
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
}

.documents.empty {
  display: none;
}

.documents.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Loader --- */
.loader {
  display: none;
}

.documents.loading .loader {
  display: block;
}

.documents.loading .loader > * {
  animation: spin 1s linear infinite;
}

/* --- Document Item (Details) --- */
.item {
  border-radius: .5rem;
  border: 1px solid #CCCCCC66;
  padding: .5rem 1rem;
  cursor: pointer;
  background-color: var(--color-secondary-foreground);
}

/* Esconde o marker nativo do sumário */
.item summary {
  list-style: none;
}

.item summary::-webkit-details-marker {
  display: none;
}

.item__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.item__details > * {
  display: flex;
  align-items: center;
  gap: .5rem;
}

/* --- Counter Icon & Badge --- */
.item__counter {
  position: relative;
}

.item__counter i svg {
  width: 2rem;
  height: 2rem;
}

.item__status {
  --badge-color: var(--color-primary);

  margin-left: 1rem;
  color: var(--badge-color);
  border-radius: 100vmax;
  padding: .25rem .5rem;
  border: 1px solid var(--badge-color);
  font-size: .75rem;
  font-weight: bold;

  &.pending {
    --badge-color: var(--color-warning);
  }

  &.running {
    --badge-color: var(--color-primary);
  }

  &.paused {
    --badge-color: var(--color-warning);
  }

  &.completed {
    --badge-color: var(--color-success);
  }

  &.failed {
    --badge-color: var(--color-error);
  }

  &.stopped {
    --badge-color: var(--color-secondary);
  }

}

.item__counter-value {
  font-size: 0.75rem;
  position: absolute;
  bottom: -2px;
  right: -2px;
  background-color: var(--color-accent);
  color: var(--color-primary-foreground);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* --- Results Content --- */
.item__results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 1rem;
  border-radius: .5rem;
}

.item__results > * {
  padding: .5rem;
  border: 2px solid white;
  background-color: var(--color-bg-neutral);

  &:not(:last-child):nth-child(2n - 1) {
    border-right: none;
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  &:first-child {
    border-top-left-radius: .5rem;
  }

  &:nth-child(2) {
    border-top-right-radius: .5rem;
  }

  &:last-child {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
}

.item__results-item-value {
  font-weight: bold;
}

.item__results-files-label {
  grid-column: span 2;
}

/* --- Animation & Transitions --- */
.marker {
  transition: transform .3s ease-in-out;
}

.item[open] .marker {
  transform: rotate(90deg);
}

.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin-top: 1rem;
  opacity: .5;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}