<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summarizer.txt</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://unpkg.com/lucide@latest"></script>
  </head>
  <body>
    <template id="document-item-template">
      <details class="item">
        <summary class="item__details">
          <div class="item__details-left">
            <i data-lucide="chevron-right" class="marker"></i>
            <div class="item__counter">
              <i data-lucide="file" width="40" height="40"></i>
              <span class="item__counter-value"></span>
            </div>
            <div class="item__status">
              <span class="item__status-value"></span>
            </div>
          </div>
          <div class="item__created-at">
            <i data-lucide="calendar"></i>
            <span class="item__created-at-value"></span>
          </div>
        </summary>
        <div class="item__results">
          <div class="item__results-total-words-label">
            Total Words: <span class="item__results-item-value"></span>
          </div>
          <div class="item__results-total-lines-label">
            Total Lines: <span class="item__results-item-value"></span>
          </div>
          <div class="item__results-total-chars-label">
            Total Chars: <span class="item__results-item-value"></span>
          </div>
          <div class="item__results-frequent-words-label">
            Most Frequent Words: <span class="item__results-item-value"></span>
          </div>
          <div class="item__results-files-label">
            Processed Files:
            <div class="item__results-item-value"></div>
          </div>
        </div>
      </details>
    </template>
    <header>
      <div class="container">
        <div class="header__content">
          <div class="header__title">
            <h1>summarizer.txt</h1>
          </div>
          <label for="documents">
            <i data-lucide="upload"></i>
            Upload Documents
            <input name="documents" type="file" id="documents" multiple />
          </label>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <small class="signature">
          Made with 💖 by
          <strong> Jônatas Gomes B. da Silva</strong>
        </small>
        <section class="documents loading">
          <div class="loader">
            <i data-lucide="loader-circle" aria-hidden="true"></i>
          </div>
        </section>
      </div>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        lucide.createIcons();
      });
    </script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
